
{% extends 'blog/base.html' %}

{% block title %}
	Top Questions
{% endblock %}

{% block body %}
    <div class="content-section">
	<h1>Python Top Questions</h1>
    <ol class="questions">
        <li><a href="#">What is the difference between <b>list</b> and <b>tuple</b></a> </li>
        <li><a href="#">What is the difference between <b>append()</b> and <b>extend()</b></a> </li>
        <li><a href="#">What is the difference between <b>remove()</b> and <b>pop()</b></a> </li>
        <li><a href="#">What is the difference between <b>remove()</b> and <b>discard()</b></a> </li>
        <li><a href="#">What is the difference between <b>add()</b> and <b>update()</b></a> </li>
        <li><a href="#">What is the difference between <b>index()</b> and <b>find()</b></a> </li>
        <li><a href="#">What is the difference between <b>split()</b> and <b>splitlines()</b></a> </li>
    </ol>
    </div>
{% endblock %}