{% extends 'blog/base.html' %}
{% load crispy_forms_filters %}

{% load crispy_forms_tags %}

{% block title %}
	Post Data
{% endblock %}

{% block body %}
    <div class="content-section">
       <form method="POST">
           {% csrf_token %}
           <fieldset class="form-group">
               <legend class="border-bottom mb-4 pb-2">Post Data</legend>
               {{ form|crispy }}
           </fieldset>
           <div class="form-group d-grid">
               <button type="submit" class="btn btn-outline-info ">Send</button>
           </div>
       </form>
    </div>

{% endblock %}